.highlights-container {
  padding: 15px;
  background-color: #333; /* Dark background */
  color: #fff; /* Light text */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlights-header {
  font-size: 1.8em;
  margin-bottom: 15px;
}

.newest-post-header {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.newest-post {
  background-color: #444;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 100%;
}

.newest-post .highlight-post-image {
  width: 50%; /* Adjusted width */
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover;
}

.side-widgets {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.side-widgets > div {
  flex: 1;
  padding: 10px;
  background-color: #444;
  border-radius: 8px;
  margin: 0 10px;
}

.search-widget .search-input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #555;
  margin-top: 5px;
}

.popular-posts-list li {
  margin-bottom: 5px;
}

.popular-posts-list li a {
  color: #ff6600;
  text-decoration: none;
}

.popular-posts-list li a:hover {
  text-decoration: underline;
}

.highlights-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.highlight-post-link {
  text-decoration: none;
  color: inherit;
  flex: 1 1 calc(33% - 15px);
}

.highlight-post {
  background-color: #444;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
}

.highlight-post .highlight-post-title {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.highlight-post .highlight-post-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
  object-fit: cover;
}

.highlight-post .highlight-post-author {
  font-size: 0.8em;
  color: #aaa;
  margin-bottom: 8px;
}

.highlight-post .highlight-post-categories {
  font-size: 0.7em;
  color: #bbb;
  margin-bottom: 8px;
}

.highlight-post .highlight-post-snippet {
  font-size: 0.7em;
  color: #ddd;
  margin-bottom: 8px;
}

.read-more-link-container {
  text-align: right;
}

.read-more-link {
  display: inline-block;
  margin-top: 5px;
  font-size: 0.8em;
  color: #ff6600;
  text-decoration: none;
}

.read-more-link:hover {
  text-decoration: underline;
}

.highlight-post-even {
  display: flex;
  flex-direction: column;
}

.highlight-post-odd {
  display: flex;
  flex-direction: column-reverse;
}

@media (max-width: 768px) {
  .highlight-post-link {
    flex: 1 1 100%;
  }

  .side-widgets {
    flex-direction: column;
    gap: 15px;
  }

  .side-widgets > div {
    margin: 0 0 15px 0;
  }
}
