.highlights-container {
  padding: 15px;
  background-color: #333; /* Dark background */
  color: #fff; /* Light text */
}

.highlights-header {
  font-size: 1.8em;
  margin-bottom: 15px;
  text-align: center; /* Center the header */
}

.newest-post-header {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center; /* Center the newest post header */
}

.newest-post {
  background-color: #444;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 30px; /* Add more space below the featured post */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px; /* Limit the width of the featured post container */
  margin: 0 auto 30px auto; /* Center the container and add margin bottom */
}

.newest-post .highlight-post-image {
  width: 100%; /* Make the image responsive */
  max-width: 300px; /* Set a fixed max width */
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover;
}

.highlights-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; /* Increase the gap between posts */
  justify-content: center; /* Center the posts */
}

.highlight-post-link {
  text-decoration: none;
  color: inherit;
  flex: 1 1 calc(33% - 30px); /* Adjust for the increased gap */
  max-width: 300px; /* Limit the max width of each post */
}

.highlight-post {
  background-color: #444;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Make all boxes the same height */
}

.highlight-post .highlight-post-title {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.highlight-post .highlight-post-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
  object-fit: cover;
}

.highlight-post .highlight-post-author {
  font-size: 0.8em;
  color: #aaa;
  margin-bottom: 8px;
}

.highlight-post .highlight-post-date {
  font-size: 0.8em;
  color: #aaa;
  margin-bottom: 8px;
}

.highlight-post .highlight-post-categories {
  font-size: 0.7em;
  color: #bbb;
  margin-bottom: 8px;
}

.highlight-post .highlight-post-snippet {
  font-size: 0.7em;
  color: #ddd;
  margin-bottom: 8px;
}

.read-more-link-container {
  text-align: right;
}

.read-more-link {
  display: inline-block;
  margin-top: 5px;
  font-size: 0.8em;
  color: #ff6600;
  text-decoration: none;
}

.read-more-link:hover {
  text-decoration: underline;
}

.highlight-post-even {
  display: flex;
  flex-direction: column;
}

.highlight-post-odd {
  display: flex;
  flex-direction: column-reverse;
}

@media (max-width: 768px) {
  .highlight-post-link {
    flex: 1 1 100%;
  }
}
